@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::selection {
    background: #180C0C;
    color: #f8f9fa;
}

:root {
    --black-color: black;
    --milk-color: #f8f9fa;
    --gray-color: #808080;
    --gold-color: #e2b768;
    --matcha-color: #AAC75E;
    --letter-color: #908376;
    --coffee-color: #742F06;
    --border-color: rgba(255, 255, 255, 0.2);
    --header-color: #B8933D;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3C3C3C;
    font-family: "Poppins", sans-serif;
}

/*header section*/
header {
    padding: 10px 0px;
    background: rgb(24, 12, 12);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0.5px 3px var(--milk-color);
}


nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
}

nav .logo {
    color: var(--gray-color);
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

nav .search {
    padding: 5px;
    font-size: 1.1rem;
}

nav i {
    color: var(--milk-color);
    cursor: pointer;
    font-size: 1.4rem;
}

nav .bar {
    display: flex;
    gap: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.bar a {
    color: var(--milk-color);
    padding: 20px 20px;
    border-radius: 10%;
    transition: 0.3s;
}

.bar a:hover {
    background: var(--milk-color);
    color: var(--brown-color);
}

.bar .active {
    background: var(--milk-color);
    color: var(--brown-color);
}


/*product section*/
#container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    width: 100%;
    /* background-color: red;   */
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardflow1 .image {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.cardflow1 a {
    text-decoration: none;
}

.cardflow1 {
    height: 400px;
    background: #444444;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: blue;  */
    border: 2px solid var(--border-color);
    margin-top: 6rem;
    margin-bottom: 6rem;
    box-shadow: 0px 1px 5px var(--gray-color);
    border-radius: 5%;
    padding-right: 180px;
    padding-left: 200px;
}

.image .target1 {
    border-radius: 10%;
    height: 250px;
}

.image .target1:hover {
    transform: scale(1.01);
}

.letter h2 {
    font-size: 2.3rem;
    color: var(--letter-color);
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-top: 10px;
    transition: 0.4s;
}

.letter h2:hover {
    transform: scale(1.03);
}


.description {
    padding: 100px;
    text-align: center;
}

.description p {
    font-weight: bold;
    font-size: 2.1rem;
    color: var(--header-color);
}



.title {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}

.title h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--gold-color);

}

.follower {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 60px;
}

.follower a {
    text-decoration: none;
}

.follower .active {
    background-color: var(--milk-color);
    color: #180C0C;
}

.follower p {
    border: 3px solid var(--border-color);
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--milk-color);
    padding: 20px;
    transition: 0.4s;
    border-radius: 10%;
    box-shadow: 0px 2px 5px var(--gray-color);
}

.follower p:hover {
    color: #180C0C;
    background-color: var(--milk-color);
}





.cardflow .image {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.image img {
    border-radius: 50%;
    width: 230px;
    height: 180px;
    transition: 0.4s;
    box-shadow: 1px 1px 5px var(--gray-color);
}

.letters {
    display: flex;
    justify-content: space-around;
}

.letters h2 {
    font-size: 1.6rem;
    color: var(--letter-color);
    margin-right: 0px;
    margin-top: 10px;
    transition: 0.4s;
}

.letters h2:hover {
    transform: scale(1.03);
}

.letters h2.price {
    font-size: 1.7rem;
    color: var(--milk-color);
}

.cardflow a {
    text-decoration: none;
}



img.target:hover {
    transform: scale(1.02);
}



.cardflow {
    margin: 0px 20px;
    border: 2px solid var(--border-color);
    margin-bottom: 6rem;
    box-shadow: 0px 1px 5px var(--gray-color);
    border-radius: 10%;
}



/*footer section*/
footer {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px 0;
    border-top: 3px solid var(--border-color);
}

footer p {
    font-weight: bold;
}

nav .fa {
    display: none;
}

/*responsive section*/
@media (max-width:1100px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width:990px) {

    nav .logo {
        font-size: 1.6rem;
    }

    nav i {
        font-size: 1.2rem;
    }

    nav .bar {
        gap: 10px;
    }

    nav .bar li {
        font-size: 1rem;
    }

    nav .search {
        font-size: .85rem;
    }

    .cardflow1 {
        width: 80%;
    }

    .cardflow1 .image {
        width: 40%;
    }

    .cardflow1 .target1 {
        width: 180px;
        height: 210px;
    }

    .cardflow1 .letter {
        width: 270px;
        margin-left: -100px;
    }

    .cardflow1 .letter h2 {
        font-size: 2rem;
    }

    .cardflow1 .description {
        margin-left: -60px;
    }

    .cardflow1 .description p {
        font-size: 1.8rem;
    }

    .title h3 {
        font-size: 1.9rem;
    }

    .follower p {
        font-size: 1.3rem;
    }
}

@media (max-width: 550px) {
    nav .logo {
        font-size: 1.4rem;
    }

    nav i {
        font-size: 1.2rem;
    }

    nav .search {
        font-size: .85rem;
    }

    nav .bar {
        display: none;
    }

    nav .fa {
        display: block;
    }

    nav i {
        font-size: 1.1rem;
    }

    .cardflow1 {
        width: 100%;
    }

    .cardflow1 .image {
        margin-left: -100px;
    }

    .cardflow1 .target1 {
        width: 170px;
        height: 200px;
    }

    .cardflow1 .letter {
        width: 270px;
        margin-left: -220px;
    }

    .cardflow1 .letter h2 {
        font-size: 1.7rem;
    }

    .cardflow1 .description {
        margin-left: -70px;
    }

    .cardflow1 .description p {
        font-size: 1.4rem;
    }

    .title h3 {
        font-size: 1.9rem;
    }

    .follower {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .follower p {
        font-size: 1.3rem;
        padding: 20px 0px;
    }

    #container {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardflow .target{
        width: 200px;
        height: 150px;
    }

    .cardflow .letters .price{
        font-size: 1.5rem;
    }
}